.items {
  display: flex;
  flex-direction: column;
  background: var(--tiptap-menu-background);
  box-shadow: var(--tiptap-menu-shadow-high);
  border-radius: var(--tiptap-menu-border-radius-l);
}

.item {
  justify-content: flex-start;
  padding: 16px;
  gap: 16px;
}

.item:first-of-type {
  border-top-left-radius: var(--tiptap-menu-border-radius-l);
  border-top-right-radius: var(--tiptap-menu-border-radius-l);
}
.item:last-of-type {
  border-bottom-left-radius: var(--tiptap-menu-border-radius-l);
  border-bottom-right-radius: var(--tiptap-menu-border-radius-l);
}

.item:not(:last-of-type) {
  border-bottom: 1px solid var(--tiptap-menu-border-color);
}

.itemSelected {
  background: var(--tiptap-menu-background-gray);
}

.icon {
  width: 50px;
  height: 50px;
  background: lightgray;
  border-radius: var(--tiptap-menu-border-radius-m);
}
.text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  line-height: 1.3;
}
.title {
  font-weight: 500;
}
.description {
  font-weight: 400;
}
.shortcut {
  font-size: x-small;
  font-weight: 400;
}
