body {
  background-color: whitesmoke;
}

.App {
  background-color: white;
  padding: 1em;
  display: flex;
  gap: 8px;
}

.App > div {
  flex: 1;
}

.App > label {
  margin-top: 1em;
  display: block;
}

textarea.markdown-output,
textarea.markdown-input {
  width: 100%;
  padding: 0.5em;
  font-size: small;
  line-height: 1.3;
  font-family: monospace;
  margin-top: 0.5em;
}
