:root {
  --colors-backgrounds-default: rgba(255, 255, 255, 1);
  --colors-backgrounds-default--hovered: rgba(241, 241, 241, 1);
  --colors-backgrounds-default--pressed: rgba(226, 226, 226, 1);
  --colors-backgrounds-default--disabled: rgba(249, 249, 249, 1);
  --colors-backgrounds-subtle-floating: rgba(227, 229, 233, 1);
  --colors-backgrounds-subtle-floating--hovered: rgba(229, 233, 237, 1);
  --colors-backgrounds-subtle-floating--pressed: rgba(213, 216, 220, 1);
  --colors-backgrounds-subtle-floating--disabled: rgba(234, 234, 241, 1);
  --colors-backgrounds-subtle-inline: rgba(243, 243, 247, 1);
  --colors-backgrounds-subtle-inline--hovered: rgba(243, 245, 248, 1);
  --colors-backgrounds-subtle-inline--pressed: rgba(229, 229, 233, 1);
  --colors-backgrounds-subtle-inline--disabled: rgba(249, 249, 250, 1);
  --colors-backgrounds-neutral: rgba(147, 150, 154, 1);
  --colors-backgrounds-neutral--hovered: rgba(162, 167, 170, 1);
  --colors-backgrounds-neutral--pressed: rgba(138, 142, 146, 1);
  --colors-backgrounds-neutral--disabled: rgba(229, 230, 231, 1);
  --colors-backgrounds-inverse: rgba(14, 14, 15, 1);
  --colors-backgrounds-inverse--hovered: rgba(51, 53, 54, 1);
  --colors-backgrounds-inverse--pressed: rgba(13, 14, 15, 1);
  --colors-backgrounds-inverse--disabled: rgba(201, 201, 201, 1);
  --colors-backgrounds-accent-floating: rgba(189, 229, 255, 1);
  --colors-backgrounds-accent-floating--hovered: rgba(198, 233, 255, 1);
  --colors-backgrounds-accent-floating--pressed: rgba(178, 217, 241, 1);
  --colors-backgrounds-accent-floating--disabled: rgba(236, 246, 255, 1);
  --colors-backgrounds-accent-inline: rgba(212, 238, 255, 1);
  --colors-backgrounds-accent-inline--hovered: rgba(217, 241, 255, 1);
  --colors-backgrounds-accent-inline--pressed: rgba(199, 225, 241, 1);
  --colors-backgrounds-accent-inline--disabled: rgba(240, 248, 255, 1);
  --colors-backgrounds-error-floating: rgba(255, 202, 202, 1);
  --colors-backgrounds-error-floating--hovered: rgba(253, 211, 211, 1);
  --colors-backgrounds-error-floating--pressed: rgba(240, 191, 191, 1);
  --colors-backgrounds-error-floating--disabled: rgba(250, 241, 244, 1);
  --colors-backgrounds-error-inline: rgba(255, 221, 220, 1);
  --colors-backgrounds-error-inline--hovered: rgba(253, 226, 226, 1);
  --colors-backgrounds-error-inline--pressed: rgba(240, 209, 208, 1);
  --colors-backgrounds-error-inline--disabled: rgba(250, 245, 248, 1);
  --colors-backgrounds-warning-floating: rgba(255, 236, 140, 1);
  --colors-backgrounds-warning-floating--hovered: rgba(253, 239, 158, 1);
  --colors-backgrounds-warning-floating--pressed: rgba(240, 223, 133, 1);
  --colors-backgrounds-warning-floating--disabled: rgba(250, 248, 231, 1);
  --colors-backgrounds-warning-inline: rgba(255, 251, 211, 1);
  --colors-backgrounds-warning-inline--hovered: rgba(253, 252, 218, 1);
  --colors-backgrounds-warning-inline--pressed: rgba(239, 237, 200, 1);
  --colors-backgrounds-warning-inline--disabled: rgba(250, 251, 246, 1);
  --colors-backgrounds-success-floating: rgba(146, 255, 175, 1);
  --colors-backgrounds-success-floating--hovered: rgba(161, 255, 188, 1);
  --colors-backgrounds-success-floating--pressed: rgba(137, 241, 166, 1);
  --colors-backgrounds-success-floating--disabled: rgba(227, 252, 238, 1);
  --colors-backgrounds-success-inline: rgba(191, 251, 202, 1);
  --colors-backgrounds-success-inline--hovered: rgba(199, 252, 210, 1);
  --colors-backgrounds-success-inline--pressed: rgba(180, 237, 191, 1);
  --colors-backgrounds-success-inline--disabled: rgba(236, 251, 244, 1);
  --colors-backgrounds-transparent: rgba(0, 0, 0, 0);
  --colors-backgrounds-transparent--hovered: rgba(0, 0, 0, 0);
  --colors-backgrounds-transparent--pressed: rgba(0, 0, 0, 0);
  --colors-backgrounds-transparent--disabled: rgba(0, 0, 0, 0);
  --colors-borders-default: rgba(14, 14, 15, 1);
  --colors-borders-default--hovered: rgba(51, 53, 54, 1);
  --colors-borders-default--pressed: rgba(13, 14, 15, 1);
  --colors-borders-default--disabled: rgba(201, 201, 201, 1);
  --colors-borders-subtle-floating: rgba(227, 229, 233, 1);
  --colors-borders-subtle-floating--hovered: rgba(229, 233, 237, 1);
  --colors-borders-subtle-floating--pressed: rgba(213, 216, 220, 1);
  --colors-borders-subtle-floating--disabled: rgba(234, 234, 241, 1);
  --colors-borders-subtle-inline: rgba(243, 243, 247, 1);
  --colors-borders-subtle-inline--hovered: rgba(243, 245, 248, 1);
  --colors-borders-subtle-inline--pressed: rgba(229, 229, 233, 1);
  --colors-borders-subtle-inline--disabled: rgba(249, 249, 250, 1);
  --colors-borders-neutral: rgba(147, 150, 154, 1);
  --colors-borders-neutral--hovered: rgba(162, 167, 170, 1);
  --colors-borders-neutral--pressed: rgba(138, 142, 146, 1);
  --colors-borders-neutral--disabled: rgba(229, 230, 231, 1);
  --colors-borders-inverse: rgba(255, 255, 255, 1);
  --colors-borders-inverse--hovered: rgba(241, 241, 241, 1);
  --colors-borders-inverse--pressed: rgba(226, 226, 226, 1);
  --colors-borders-inverse--disabled: rgba(252, 252, 252, 1);
  --colors-borders-accent: rgba(38, 122, 156, 1);
  --colors-borders-accent--hovered: rgba(71, 143, 172, 1);
  --colors-borders-accent--pressed: rgba(36, 116, 148, 1);
  --colors-borders-accent--disabled: rgba(204, 224, 234, 1);
  --colors-borders-error: rgba(219, 42, 33, 1);
  --colors-borders-error--hovered: rgba(223, 76, 69, 1);
  --colors-borders-error--pressed: rgba(206, 41, 32, 1);
  --colors-borders-error--disabled: rgba(242, 207, 208, 1);
  --colors-borders-warning: rgba(130, 114, 32, 1);
  --colors-borders-warning--hovered: rgba(148, 137, 68, 1);
  --colors-borders-warning--pressed: rgba(122, 108, 31, 1);
  --colors-borders-warning--disabled: rgba(223, 222, 208, 1);
  --colors-borders-success: rgba(33, 130, 67, 1);
  --colors-borders-success--hovered: rgba(67, 150, 97, 1);
  --colors-borders-success--pressed: rgba(31, 123, 64, 1);
  --colors-borders-success--disabled: rgba(203, 226, 215, 1);
  --colors-borders-transparent: rgba(0, 0, 0, 0);
  --colors-borders-transparent--hovered: rgba(0, 0, 0, 0);
  --colors-borders-transparent--pressed: rgba(0, 0, 0, 0);
  --colors-borders-transparent--disabled: rgba(0, 0, 0, 0);
  --colors-text-default: rgba(14, 14, 15, 1);
  --colors-text-default--hovered: rgba(51, 53, 54, 1);
  --colors-text-default--pressed: rgba(13, 14, 15, 1);
  --colors-text-default--disabled: rgba(201, 201, 201, 1);
  --colors-text-subtle: rgba(51, 53, 54, 1);
  --colors-text-subtle--hovered: rgba(82, 85, 86, 1);
  --colors-text-subtle--pressed: rgba(48, 51, 52, 1);
  --colors-text-subtle--disabled: rgba(210, 210, 211, 1);
  --colors-text-neutral: rgba(95, 97, 99, 1);
  --colors-text-neutral--hovered: rgba(119, 122, 124, 1);
  --colors-text-neutral--pressed: rgba(89, 92, 94, 1);
  --colors-text-neutral--disabled: rgba(216, 219, 222, 1);
  --colors-text-neutral-on-background: rgba(12, 15, 18, 0.66);
  --colors-text-neutral-on-background--hovered: rgba(119, 122, 124, 0.66);
  --colors-text-neutral-on-background--pressed: rgba(89, 92, 94, 0.66);
  --colors-text-neutral-on-background--disabled: rgba(198, 201, 205, 0.66);
  --colors-text-inverse: rgba(255, 255, 255, 1);
  --colors-text-inverse--hovered: rgba(241, 241, 241, 1);
  --colors-text-inverse--pressed: rgba(226, 226, 226, 1);
  --colors-text-inverse--disabled: rgba(252, 252, 252, 1);
  --colors-text-accent: rgba(34, 116, 150, 1);
  --colors-text-accent--hovered: rgba(67, 138, 167, 1);
  --colors-text-accent--pressed: rgba(32, 110, 142, 1);
  --colors-text-accent--disabled: rgba(203, 223, 233, 1);
  --colors-text-accent-on-background: rgba(17, 66, 86, 1);
  --colors-text-accent-on-background--hovered: rgba(53, 96, 113, 1);
  --colors-text-accent-on-background--pressed: rgba(16, 63, 82, 1);
  --colors-text-accent-on-background--disabled: rgba(199, 212, 219, 1);
  --colors-text-error: rgba(192, 34, 26, 1);
  --colors-text-error--hovered: rgba(200, 69, 63, 1);
  --colors-text-error--pressed: rgba(181, 33, 25, 1);
  --colors-text-error--disabled: rgba(236, 205, 207, 1);
  --colors-text-error-on-background: rgba(124, 19, 14, 1);
  --colors-text-error-on-background--hovered: rgba(143, 57, 53, 1);
  --colors-text-error-on-background--pressed: rgba(117, 19, 14, 1);
  --colors-text-error-on-background--disabled: rgba(222, 202, 204, 1);
  --colors-text-warning: rgba(120, 103, 18, 1);
  --colors-text-warning--hovered: rgba(139, 127, 56, 1);
  --colors-text-warning--pressed: rgba(113, 98, 18, 1);
  --colors-text-warning--disabled: rgba(221, 220, 205, 1);
  --colors-text-warning-on-background: rgba(74, 60, 13, 1);
  --colors-text-warning-on-background--hovered: rgba(101, 91, 52, 1);
  --colors-text-warning-on-background--pressed: rgba(70, 57, 13, 1);
  --colors-text-warning-on-background--disabled: rgba(211, 211, 204, 1);
  --colors-text-success: rgba(25, 109, 55, 1);
  --colors-text-success--hovered: rgba(60, 132, 87, 1);
  --colors-text-success--pressed: rgba(24, 103, 53, 1);
  --colors-text-success--disabled: rgba(201, 221, 213, 1);
  --colors-text-success-on-background: rgba(13, 71, 34, 1);
  --colors-text-success-on-background--hovered: rgba(50, 101, 70, 1);
  --colors-text-success-on-background--pressed: rgba(12, 68, 33, 1);
  --colors-text-success-on-background--disabled: rgba(199, 213, 208, 1);
  --colors-data-mono-highlighted-value: rgba(255, 179, 199, 1);
  --colors-data-mono-highlighted-value--hovered: rgba(253, 191, 208, 1);
  --colors-data-mono-highlighted-value--pressed: rgba(240, 169, 188, 1);
  --colors-data-mono-highlighted-value--disabled: rgba(250, 236, 243, 1);
  --colors-data-mono-front-value: rgba(45, 46, 48, 1);
  --colors-data-mono-front-value--hovered: rgba(77, 80, 81, 1);
  --colors-data-mono-front-value--pressed: rgba(42, 44, 46, 1);
  --colors-data-mono-front-value--disabled: rgba(208, 208, 208, 1);
  --colors-data-mono-average-value: rgba(132, 135, 138, 1);
  --colors-data-mono-average-value--hovered: rgba(150, 154, 157, 1);
  --colors-data-mono-average-value--pressed: rgba(124, 128, 131, 1);
  --colors-data-mono-average-value--disabled: rgba(226, 227, 227, 1);
  --colors-data-mono-rear-value: rgba(199, 201, 204, 1);
  --colors-data-mono-rear-value--hovered: rgba(206, 210, 212, 1);
  --colors-data-mono-rear-value--pressed: rgba(187, 190, 193, 1);
  --colors-data-mono-rear-value--disabled: rgba(240, 241, 241, 1);
  --colors-data-colored-value-01: rgba(255, 203, 139, 1);
  --colors-data-colored-value-01--hovered: rgba(253, 211, 158, 1);
  --colors-data-colored-value-01--pressed: rgba(240, 192, 132, 1);
  --colors-data-colored-value-01--disabled: rgba(250, 241, 231, 1);
  --colors-data-colored-value-02: rgba(255, 226, 95, 1);
  --colors-data-colored-value-02--hovered: rgba(253, 231, 121, 1);
  --colors-data-colored-value-02--pressed: rgba(240, 214, 90, 1);
  --colors-data-colored-value-02--disabled: rgba(250, 246, 221, 1);
  --colors-data-colored-value-03: rgba(160, 255, 133, 1);
  --colors-data-colored-value-03--hovered: rgba(173, 255, 153, 1);
  --colors-data-colored-value-03--pressed: rgba(151, 241, 126, 1);
  --colors-data-colored-value-03--disabled: rgba(230, 252, 229, 1);
  --colors-data-colored-value-04: rgba(124, 255, 214, 1);
  --colors-data-colored-value-04--hovered: rgba(143, 255, 221, 1);
  --colors-data-colored-value-04--pressed: rgba(117, 241, 202, 1);
  --colors-data-colored-value-04--disabled: rgba(222, 252, 246, 1);
  --colors-data-colored-value-05: rgba(148, 248, 255, 1);
  --colors-data-colored-value-05--hovered: rgba(163, 249, 255, 1);
  --colors-data-colored-value-05--pressed: rgba(139, 234, 241, 1);
  --colors-data-colored-value-05--disabled: rgba(227, 250, 255, 1);
  --colors-data-colored-value-06: rgba(190, 214, 255, 1);
  --colors-data-colored-value-06--hovered: rgba(198, 221, 255, 1);
  --colors-data-colored-value-06--pressed: rgba(179, 202, 241, 1);
  --colors-data-colored-value-06--disabled: rgba(236, 243, 255, 1);
  --colors-data-colored-value-07: rgba(239, 198, 255, 1);
  --colors-data-colored-value-07--hovered: rgba(240, 207, 255, 1);
  --colors-data-colored-value-07--pressed: rgba(225, 187, 241, 1);
  --colors-data-colored-value-07--disabled: rgba(246, 240, 255, 1);
  --colors-data-colored-value-08: rgba(255, 196, 228, 1);
  --colors-data-colored-value-08--hovered: rgba(253, 205, 232, 1);
  --colors-data-colored-value-08--pressed: rgba(240, 185, 216, 1);
  --colors-data-colored-value-08--disabled: rgba(250, 239, 249, 1);
  --corner-radius-none: 0px;
  --corner-radius-xs: 4px;
  --corner-radius-s: 8px;
  --corner-radius-m: 16px;
  --corner-radius-l: 32px;
  --corner-radius-round: 9999px;
  --space-0: 0px;
  --space-50: 4px;
  --space-100: 8px;
  --space-150: 12px;
  --space-200: 16px;
  --space-300: 24px;
  --space-400: 32px;
  --space-500: 40px;
  --space-600: 48px;
  --space-800: 64px;
  --space-1000: 80px;
  --space-1200: 96px;
  --space-2000: 160px;
  --shadow-low: 0px 3px 6px rgba(0, 0, 0, 0.1);
  --shadow-mid: 0px 6px 12px rgba(0, 0, 0, 0.1);
  --shadow-high: 0px 12px 24px rgba(0, 0, 0, 0.1);
}
